/* ---------------------footer--------------------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
  max-height: 252px;
  min-width: 1600px;
}

.footer__map {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--primary-white-color);

  transition: color var(--animation-duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__adress:not(:last-child) {
  margin-bottom: 9px;
}

.footer__contact {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--animation-duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-form {
  margin-left: 93px;
}

.footer-form__email {
  display: flex;
}

.footer-form__title {
  display: block;

  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.footer-form__input {
  display: block;
  width: 358px;
  height: 50px;

  padding: 15px 16px;

  border-radius: 4px;
  color: var(--primary-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-form__icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
}
