/* ---------------------footer--------------------- */
.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-accent-footer {
  color: var(--primary-white-color);

  transition: color var(--animation-duration) var(--timing-function);
}

.footer-logo:hover .logo-accent-footer,
.footer-logo:focus .logo-accent-footer {
  color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
  max-height: 252px;
  min-width: 1600px;
}

.footer-map {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--primary-white-color);

  transition: color var(--animation-duration) var(--timing-function);
}

.footer-adress:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--animation-duration) var(--timing-function);
}

.footer-map:hover,
.footer-map:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-form {
  margin-left: 93px;
}

.footer-form-email {
  display: flex;
}

.footer-form-title {
  display: block;

  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.footer-form-input {
  display: block;
  width: 358px;
  height: 50px;

  padding: 15px 16px;

  border-radius: 4px;
  color: var(--primary-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}

.footer-send-icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
}
