/* --------------------- Header]--------------------- */
.header-border {
  border-bottom: 1px solid #ececec;
}

.flex-nav {
  display: flex;
  align-items: center;
}

.flex-nav-menu {
  display: flex;
  margin-left: 93px;
}

.flex-nav-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-menu-item {
  position: relative;
}

.nav-menu-item:not(:first-child) {
  margin-left: 50px;
}

.nav-contact-item:not(:first-child) {
  margin-left: var(--card-set-gap);
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-accent {
  color: var(--title-text-color);

  transition: color var(--animation-duration) var(--timing-function);
}

.logo-accent:hover,
.logo-accent:focus {
  color: var(--accent-color);
}

.site-nav-text {
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  display: block;

  transition: color var(--animation-duration) var(--timing-function);
}

.site-nav-text:hover,
.site-nav-text:focus {
  color: var(--accent-color);
}

.site-nav-text.current::after {
  content: '';
  display: block;

  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translate(-50%, 0);

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.nav-icons {
  margin-right: 10px;
  fill: currentColor;
}

.site-contact {
  padding: 32px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;

  transition: color var(--animation-duration) var(--timing-function);
}

.site-contact:hover,
.site-contact:focus,
.current {
  color: var(--accent-color);
}
