/* --------------------- Header]--------------------- */

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo--accent {
  transition: color var(--animation-duration) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.logo--accent:hover,
.logo--accent:focus {
  color: var(--accent-color);
}

/* --------------------- Header]--------------------- */

.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header__logo--accent {
  color: var(--title-text-color);
}

/* ---------------------footer--------------------- */

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__logo--accent {
  color: var(--primary-white-color);
}
