.social-link {
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
  }
}

/* --------------------- team--------------------- */

.team-social-list {
  display: flex;
  justify-content: space-between;
}

.team-social-link {
  background-color: transparent;
  color: var(--social-links);

  transition: background-color var(--animation-duration) var(--timing-function),
    color var(--animation-duration) var(--timing-function);
}

.team-icon {
  fill: currentColor;
}

/* ---------------------footer--------------------- */

.footer-socials {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.footer-socials-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-socials-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  text-transform: uppercase;
}

.footer-socials-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);

  transition: background-color var(--animation-duration) var(--timing-function);
}
