/* --------------------- wedo--------------------- */
.wedo {
  padding-top: 0;
}

.wedo-list {
  display: flex;
}

.wedo-item:not(:last-child) {
  margin-right: var(--card-set-gap);
}

.wedo .title {
  padding-bottom: 50px;
}

.wedo-item {
  position: relative;
}

.wedo-backdrop {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(47, 48, 58, 0.8);
}

.wedo-backdrop-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-white-color);
}
