/* --------------------- Examples of our works--------------------- */
.works-item-btn {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
}

.works-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.works-items {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-set-gap));
  margin-bottom: calc(-1 * var(--card-set-gap));
}

.works-item {
  margin-right: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);

  width: 370px;
  margin: 15px;

  background-color: var(--primary-white-color);
}

.works-img {
  display: block;
}

.works-backdrop {
  position: relative;
  overflow: hidden;
}

.works-img {
  display: block;
}

.works-backdrop-bg {
  position: absolute;

  transform: translateY(0);
  transition: transform var(--animation-duration) var(--timing-function);

  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(33, 150, 243, 0.9);
}

.works-backdrop-text {
  width: 322px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
}

.works-link:hover .works-backdrop-bg,
.works-link:focus .works-backdrop-bg {
  transform: translateY(-100%);
}

.works-link {
  display: block;
  width: 100%;
  height: 100%;

  transition: box-shadow var(--animation-duration) var(--timing-function);
}

.works-link:hover,
.works-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
