/* --------------------- Works-btn --------------------- */
.works-item-btn {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-btn {
  display: flex;
  justify-content: center;
  height: 54px;
  margin-bottom: 34px;
}

.portfolio-btn__link:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn__text {
  padding: 6px 22px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  border-radius: 4px;

  transition: color var(--animation-duration) var(--timing-function),
    background-color var(--animation-duration) var(--timing-function),
    box-shadow var(--animation-duration) var(--timing-function);

  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color-hover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
