/* --------------------- Examples of our works--------------------- */

.works__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
}

.works__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.works__items {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-set-gap));
  margin-bottom: calc(-1 * var(--card-set-gap));
}

.works__item {
  margin-right: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);

  width: 370px;
  margin: 15px;

  background-color: var(--primary-white-color);
}

.works__img {
  display: block;
}

.works-backdrop {
  position: relative;
  overflow: hidden;
}

.works-backdrop__bg {
  position: absolute;

  transform: translateY(0);
  transition: transform var(--animation-duration) var(--timing-function);

  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(33, 150, 243, 0.9);

  .works__link:hover &,
  .works__link:focus & {
    transform: translateY(-100%);
  }
}

.works-backdrop__text {
  width: 322px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
}

.works__link {
  display: block;
  width: 100%;
  height: 100%;

  transition: box-shadow var(--animation-duration) var(--timing-function);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
